@charset "utf-8";

// https://github.com/metafizzy/flickity/issues/754
@import "~flickity/css/flickity.css";

// Import Google Font
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

// Update Bulma's global variables
$family-sans-serif: "Ubuntu", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

// More theme colors could be added here...
$primary: #2e456b;

$spaces: ("0": 0, "1": 1.65rem, "2": 1.75rem);

$margin-default: map-get($spaces, "2") map-get($spaces, "0");

// Update some of Bulma's component & color variables
$footer-padding: 3rem 1.5rem;
$link: hsl(216, 58%, 45%);

// Custom Styles
.card-gap {margin-top:1.75rem}
.modal-trigger { cursor: pointer; }
a.icon > strong {margin-left:.25rem}
.modal-card-body div.content {margin:$margin-default}
.video {video {margin-left: 0.5rem}}

// import everything - alternatively import just what you need: https://bulma.io/documentation/overview/modular/
@import "~bulma/bulma";

// override specific bulma styles
.section {padding: 1.5rem 1.5rem}

//.hero-body {background-color: hsl(216, 42%, 59%)}
.hero-body {background-color: hsl(217, 40%, 27%)}

.navbar-brand {background-color: hsl(217, 40%, 27%)}

.navbar-menu {background-color: hsl(217, 40%, 27%)}

.icon {color: hsl(217, 40%, 35%)}

.button.is-success {background-color: hsl(217, 40%, 35%)}
.button.is-success:hover {background-color: rgba(10, 10, 10, 0.3)}

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

// Flickity - begin
.carousel-cell {width:100%}
// Flickity - end
